<a href="https://colab.research.google.com/github/IUBAYAR/MIS-351/blob/main/090425.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1a: For a flight with 300 seating capacity, an airway company sells tickets to 3 customer groups:
*   Group A: extremely careful passengers (1% chance of missing a flight)
*   Group B:  careful passengers (3% chance of missing a flight)
*   Group C: rookie passengers (10% chance of missing a flight)


The company does not know how many tickets are sold to each group of passengers and wants the optimize an overbooking strategy.\
\
If any passenger is not seated on a flight the company pays them a \$10ooo fine per passenger. Where the company makes $500 per ticket sold.
\
What is the expected value of 1-5 overbooked tickets?

In [12]:
#Importing necessary python modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
from numpy.random import poisson
from numpy.random import randint

C = 300
a = randint(0, C+1)
b = randint(0, C-a+1)
c = C-a-b

a_miss= poisson(.01, size=a).sum()
b_miss = poisson(.03, size=b).sum()
c_miss = poisson(.10, size=c).sum()

[a_miss, b_miss,c_miss]

[np.int64(0), np.int64(2), np.int64(19)]

In [14]:
#1 ticket overbooked
liste = []
for i in range(10**4):
  ovr = 1

  C = 300
  a = randint(0, C+1)
  b = randint(0, C-a+1)
  c = C-a-b

  a_miss= poisson(.01, size=a).sum()
  b_miss = poisson(.03, size=b).sum()
  c_miss = poisson(.10, size=c).sum()

  if np.array([a_miss, b_miss, c_miss]).sum () >=ovr:
    liste.append(500)
  else:
    liste.append(-10000*(ovr- np.array([a_miss, b_miss, c_miss]).sum()))
np.array(liste).mean()

np.float64(464.3)

In [15]:
# 2 ticket overbooked
liste = []
for i in range(10**4):
  ovr = 2

  C = 300 + ovr
  a = randint(0, C+1)
  b = randint(0, C-a+1)
  c = C-a-b

  a_miss= poisson(.01, size=a).sum()
  b_miss = poisson(.03, size=b).sum()
  c_miss = poisson(.10, size=c).sum()

  if np.array([a_miss, b_miss, c_miss]).sum () >=ovr:
    liste.append(500)
  else:
    liste.append(-10000*(ovr- np.array([a_miss, b_miss, c_miss]).sum()))
np.array(liste).mean()

np.float64(267.6)

In [16]:
# 3 ticket overbooked
liste = []
for i in range(10**4):
  ovr = 3

  C = 300 + ovr
  a = randint(0, C+1)
  b = randint(0, C-a+1)
  c = C-a-b

  a_miss= poisson(.01, size=a).sum()
  b_miss = poisson(.03, size=b).sum()
  c_miss = poisson(.10, size=c).sum()

  if np.array([a_miss, b_miss, c_miss]).sum () >=ovr:
    liste.append(500)
  else:
    liste.append(-10000*(ovr- np.array([a_miss, b_miss, c_miss]).sum()))
np.array(liste).mean()

np.float64(-220.9)

In [17]:
# 4 ticket overbooked
liste = []
for i in range(10**4):
  ovr = 4

  C = 300 + ovr
  a = randint(0, C+1)
  b = randint(0, C-a+1)
  c = C-a-b

  a_miss= poisson(.01, size=a).sum()
  b_miss = poisson(.03, size=b).sum()
  c_miss = poisson(.10, size=c).sum()

  if np.array([a_miss, b_miss, c_miss]).sum () >=ovr:
    liste.append(500)
  else:
    liste.append(-10000*(ovr- np.array([a_miss, b_miss, c_miss]).sum()))
np.array(liste).mean()

np.float64(-1100.6)

In [18]:
# 5 ticket overbooked
liste = []
for i in range(10**4):
  ovr = 5

  C = 300 + ovr
  a = randint(0, C+1)
  b = randint(0, C-a+1)
  c = C-a-b

  a_miss= poisson(.01, size=a).sum()
  b_miss = poisson(.03, size=b).sum()
  c_miss = poisson(.10, size=c).sum()

  if np.array([a_miss, b_miss, c_miss]).sum () >=ovr:
    liste.append(500)
  else:
    liste.append(-10000*(ovr- np.array([a_miss, b_miss, c_miss]).sum()))
np.array(liste).mean()

np.float64(-2636.95)

Q1b: If there were no fine, what would be the opportunity cost of not overbooking?

In [21]:
liste = []
for i in range(10**4):
  ovr = 0

  C = 300 + ovr
  a = randint(0, C+1)
  b = randint(0, C-a+1)
  c = C-a-b

  a_miss= poisson(.01, size=a).sum()
  b_miss = poisson(.03, size=b).sum()
  c_miss = poisson(.10, size=c).sum()

  liste.append(
      500*np.array([a_miss, b_miss, c_miss]).sum()
      )
np.array(liste).mean()

np.float64(5652.25)