<a href="https://colab.research.google.com/github/IUBAYAR/MIS-351/blob/main/WEEK2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#GROUPING PYTHON OBJECTS
#LIST
#TUPLE
#DICTIONARY
#SET
#RANGE()
#STRING

In [ ]:
"""
TUPLE
Tuples are immutable python objects that may contain several members.
Being immutable means you can not add, delete, or change members of a tuple.
This may be practical for some situations but in general we do not favor tuples.
"""
(1,2,"a",'hello',True,None,("another tuple"))

(1, 2, 'a', 'hello', True, None, 'another tuple')

In [ ]:
(1,2,"a",'hello',True,None,("another tuple"))[-1]

'another tuple'

In [ ]:
(1,2,"a",'hello',True,None,("another tuple"))[-1][0]

'a'

In [ ]:
(1,2,"a",'hello',True,None,("another tuple"))[-1] = 11/2

TypeError: 'tuple' object does not support item assignment

In [ ]:
"""
LIST
List work just like tuples but they are far more flexible
You can add new items to a list you can remove items from a list and you can reassign the values of spesific items
"""

'\nLIST\nList work just like tuples but they are far more flexible\nYou can add new items to a list you can remove items from a list and you can reassign the values of spesific items\n'

In [ ]:
list(
    (1,2,"a",'hello',True,None,("another tuple"))
)
#you may transform tuples to list or vice versa

[1, 2, 'a', 'hello', True, None, 'another tuple']

In [ ]:
[1, 2, 'a', 'hello', True, None, 'another tuple'][-1] = 11/2
#reassignments does not produce outputs

In [ ]:
var = [1, 2, 'a', 'hello', True, None, 'another tuple']
var

[1, 2, 'a', 'hello', True, None, 'another tuple']

In [ ]:
var[-1]= 11/2

In [ ]:
var
#it may be useful to store grouping objects as variables

[1, 2, 'a', 'hello', True, None, 5.5]

In [ ]:
#adding items to a list
var.append("new item")
var

[1, 2, 'a', 'hello', True, None, 5.5, 'new item']

In [ ]:
#adding items to a spesific index
var.insert(1, "to the second position")
var

[1, 'to the second position', 2, 'a', 'hello', True, None, 5.5, 'new item']

In [ ]:
#deleting a spesific item from a list
var.remove("a")
var

[1, 'to the second position', 2, 'hello', True, None, 5.5, 'new item']

In [ ]:
#removing the last item from a list
var.pop()

'new item'

In [ ]:
var
#pop produces an output:the item it has removed

[1, 'to the second position', 2, 'hello', True, None, 5.5]

In [ ]:
#deleting an item using index addresses
var.pop(1)

'to the second position'

In [ ]:
#deleting multiple items
var.remove(var[0],var[1])
var

TypeError: list.remove() takes exactly one argument (2 given)

In [ ]:
#range(start, stop-1, stepsize)
range(0, 9+1, 1)

range(0, 10)

In [ ]:
#range objects are generators, they become grouping objects when plugged into grouping functions.
list(range(0, 9+1, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#even numbers
list(range(0, 9+1, 2))

[0, 2, 4, 6, 8]

In [ ]:
#odd numbers
list(range(1, 9+1, 2))

[1, 3, 5, 7, 9]

In [ ]:
#numbers reversed
list(range(0, 9+1, 1))[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#sets only contain unique elements of grouping objects
set( ["a", "a", "b", "c"] )

{'a', 'b', 'c'}

In [ ]:
#DICTIONARIES: you do not need ordered numeric indices anymore.